{% extends 'base.html.twig' %}

{% block title %}Hello KamersController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container">
        <section class="section">
            <ul>
                <li><h4>Één persoons kamer</h4><img class="rooms" alt="Deluxe one-bedroom suite" src="../images/Room1.jpg"><p>
                        De één persoons kamer met 1 slaapkamer beslaat 170 m² over twee verdiepingen en biedt eindeloze uitzichten over de Arabische Golf. Deze suite is ontworpen om een ​​buitengewone ervaring te creëren met veelbelovende herinneringen die een leven lang meegaan.</p>
                <br>
                <li><h4>Twee persoons kamer</h4><img class="rooms" alt="Deluxe twin one-bedroom suite" src="../images/Room2.jpg"><p>
                        De twee persoons kamer met één slaapkamer met twee aparte bedden beslaat 170 vierkante meter (1.830 vierkante voet) over twee verdiepingen en biedt eindeloze uitzichten over de Arabische Golf. Deze suite is ontworpen om een ​​buitengewone ervaring te creëren met veelbelovende herinneringen die een leven lang meegaan</p>
                <br>
                <li><h4>Familie kamer</h4><img class="rooms" alt="Panoramic one-bedroom suite" src="../images/Room7 2.jpg"><p>
                        Echt de wereldleiders waardig, La Caserai prachtige presidentiële suite met twee slaapkamers straalt status en luxe uit. Deze prachtig ingerichte suite beslaat 667 vierkante meter en heeft twee verdiepingen met kamerhoge ramen, een exclusief ontvangstgedeelte, twee aparte lounges, twee barruimtes, een ruime privé-eethoek en kleedkamers voor hem en haar.</p>
                <br>
                <li><h4>Suite</h4><img class="rooms" alt="Deluxe two-bedroom suite" src="../images/Room8 2.jpg"><p>

                        De 780 vierkante meter grote Royal Suite is in alle opzichten vorstelijk en is onberispelijk ontworpen met een weelderig kleurenschema, weelderige meubels en exclusieve voorzieningen, waaronder een privélift en een bioscoop. Beide verdiepingen van deze prachtige suite zijn voorzien van sensationeel natuurlijk licht en een subliem ononderbroken uitzicht over de Arabische Golf.</p>
                <br>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
{% block footer %}

{% endblock %}

